@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    background-color: white;
    width: 255px;
    height: 630px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    transition: width 1s, heith 1s;
    transition-timing-function: ease ;
}

#imagem {
    display: block;
    height: 200px;
    background-image: url(../imagens/pexels-sean-whang-804269.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#formulario{
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}
#formulario > p {
    font-size: 1.2em;
}

input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#49a09d ;
    color: white;
    border: none;
    border-radius: 5px;
}
input[type=submit]:hover {
    background-color:#194e4c ;
    cursor: pointer;
}
.botao {
    display: block;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#59c9c5 ;
    color: #194e4c;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
}

.botao:hover {
    background-color: white;
}

.campo{
    background-color: rgb(35, 6, 73);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top:5px ;
    margin-bottom:5px ;
}
